AddDefaultCharset UTF-8
DirectoryIndex index.php

<Files .htaccess>
order allow,deny
deny from all
</Files>

<Files error_log>
order allow,deny
deny from all
</Files>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
	# Enable expirations.
	ExpiresActive On
	ExpiresDefault "access plus 2 years"
	# Do not cache dynamically generated pages.
	ExpiresByType text/html A1

	# Set up 10 year caching on commonly updated files
	<FilesMatch "\.(xml|js|css)$">
	ExpiresDefault "access plus 10 years"
	</FilesMatch>

	# Set up 10 year caching on commonly updated files
	<FilesMatch "\.(gif|jpg|png)$">
	ExpiresDefault "access plus 10 years"
	</FilesMatch>

	# Force no caching for dynamic files
	<FilesMatch "\.(php)$">
	ExpiresActive Off
	</FilesMatch>

	# Cache various files for 2 weeks
	<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf|txt|html|htm)$">
	Header set Cache-Control "max-age=1209600"
	</FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
	#The following line also enables compression by file content type, for the following list of Content-Type:s
	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml text/javascript text/css text/plain application/json

	#The following lines are to avoid bugs with some browsers
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(js|css|xml|gz)$">
	Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>

Options +FollowSymlinks
RewriteEngine On

# Set certain languages
RewriteCond %{HTTP:Accept-Language} ^.*(de|es|fr|en).*$ [NC]
RewriteRule ^(.*)$ - [env=prefer-language:%1]

# Remove www
RewriteCond %{HTTP_HOST}//s%{HTTPS} ^www.(.*)//((s)on|s.*)$ [NC]
RewriteRule ^ http%3://%1%{REQUEST_URI} [L,R=301]

# Add missing trailing slash
RewriteCond s%{HTTPS} ^((s)on|s.*)$ [NC]
RewriteRule ^/*(.+/)?([^.]*[^/])$ http%2://%{HTTP_HOST}/$1$2/ [L,R=301]

# Find php file for missing directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/$ $1.php?page=$2 [L]

# redirect these errors
ErrorDocument 400 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 500 /index.html
